@page

@{ Layout = null;

    var countriesParam = Request.Query["countries"].ToString();
    var selectedCountries = new HashSet<Backend.CountryType>();

    if (string.IsNullOrEmpty(countriesParam)) {
        selectedCountries.Add(Backend.CountryType.Austria);
    }
    else {
        var countriesAsString = countriesParam.Split(',');
        foreach (var countryAsString in countriesAsString) {
            if (!System.Enum.TryParse<Backend.CountryType>(countryAsString, true, out var result)) {
                continue;
            }

            if (selectedCountries.Contains(result)) {
                continue;
            }

            selectedCountries.Add(result);
        }
    }

    var graphUriParameter = "countries=" + string.Join(",", selectedCountries); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Corona Spread Viewer</title>
    <link rel="stylesheet" href="style.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="content">
        <div id="countrySelection">
            <div class="contentHeading">
                <h1>Country Selection</h1>
            </div>
            <div id="countrySelectionForm">
                <form>
                    <div class="countrySelectionInForm">
                        @{ var values = Enum.GetValues(typeof(Backend.CountryType));
                                        var valuesReduced = new List<Backend.CountryType>();

                                        foreach (var value in values) {
                                            var valueCasted = (Backend.CountryType)value;
                                            if (valueCasted == Backend.CountryType.Invalid) {
                                                continue;
                                            }

                                            valuesReduced.Add(valueCasted);
                                        }

                                        for (var i = 0; i < valuesReduced.Count(); ++i) {
                                            var value = valuesReduced[i];
                            <div class="countrySelectionBox">
                                @if (selectedCountries.Contains(value)) {
                <input type="checkbox" id="@value" value="@value" name="selectedCountries" checked /> }
                                else {
                <input type="checkbox" id="@value" value="@value" name="selectedCountries" />}
                                <label for="@value">@value.ToString()</label>
                            </div> } }
                    </div>
                    <div class="countrySelectionApply">
                        <input name="apply" type="submit" formaction="api/selection/apply" formmethod="post" value="Apply Selection" />
                    </div>
                </form>
            </div>
        </div>
        <div class="graphs">
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="infected-per-population-logarithmic">Infected Persons Total per Population</a></h1>
                </div>
                <img src="api/graph/infected-per-population-logarithmic?@graphUriParameter" class="graph" alt="infected population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="deaths-per-population-logarithmic">Deaths this Day per Population</a></h1>
                    <p>This graph contains two reference lines. One is the general mortality of 10,3 per 1000 persons per year in the <a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Mortality_and_life_expectancy_statistics#Slight_increase_in_number_of_deaths_in_2017">EU-28 from the year 2017</a>. The other is the estimated influanza based excess mortality during the rather heavy influenza season 2016/2017. I took this value from <a href="https://www.euromomo.eu/methods/pdf/winter_season_summary_2016_17.pdf">EURO MOMO winter season report summary 2016/2017</a>. Unfortunately I could not find the actual values and had to derive them from the graphs. My results here were a maximum mortality of 21,5 deaths per week per 100000. Compared to a base line mortality of 18 deahts per week per 100000 I ended up with (21,5 - 18)/7/100000 = 5e-6‬ deaths per person per day.</p>
                    <p>Of course, one also has to take into account that in some countries there is currently no real differentiation between a COVID-19 caused death and another death cause. On the other hand, a lot of these causualities are currently concentrated in certain areas (for instance Lombardia), and the average across the country cannot reflect such a local peak.</p>
                </div>
                <img src="api/graph/deaths-per-population-logarithmic?@graphUriParameter" class="graph" alt="deaths in relation to the population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="infected-growth-per-total-infected-per-population">Growth of Infected in relation to the Total Infected per Population</a></h1>
                </div>
                <img src="api/graph/infected-growth-per-total-infected-per-population?@graphUriParameter" class="graph" alt="infected person growth in relation to the total infected population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="estimated-actual-new-infected-persons">Estimated actual new Infections</a></h1>
                    <p>This graph tries to estimate the actually new infected, based upon the assumption that the time distribution from contraction to testing positive is N(10,3). Basically I stole the idea from <a href="https://www.youtube.com/watch?v=LnQcbAKWkPE&t=1422s">Abacaba</a>. This of course once again leaves out the asymptomatic infected persons which never got tested.</p>
                </div>
                <img src="api/graph/estimated-actual-new-infected-persons?@graphUriParameter&estimationPastInDays=21" class="graph" alt="estimated actual new infections" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="deaths">Deaths this Day</a></h1>
                </div>
                <img src="api/graph/deaths?@graphUriParameter" class="graph" alt="deaths this day" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="still-infected-per-population-logarithmic">Still Infected Persons (without Deaths and Recovered) per Population</a></h1>
                </div>
                <img src="api/graph/still-infected-per-population-logarithmic?@graphUriParameter" class="graph" alt="still infected population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="still-infected">Still Infected Persons (without Deaths and Recovered)</a></h1>
                </div>
                <img src="api/graph/still-infected?@graphUriParameter" class="graph" alt="still infected population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="infected-absolute-logarithmic">Infected Persons Total, Logarithmic</a></h1>
                </div>
                <img src="api/graph/infected-absolute-logarithmic?@graphUriParameter" class="graph" alt="total infected persons, logarithmic" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="infected-absolute-linear">Infected Persons Total, Linear</a></h1>
                </div>
                <img src="api/graph/infected-absolute-linear?@graphUriParameter" class="graph" alt="total infected persons, linear" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="infected-growth-per-total-infected">Growth of Infected in relation to the Total Infected</a></h1>
                </div>
                <img src="api/graph/infected-growth-per-total-infected?@graphUriParameter" class="graph" alt="infected person growth in relation to the total infected" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="top-countries-by-new-deaths">Top Countries by new Deaths recently</a></h1>
                    <p>This graph displays the average new deaths per population for the last 5 days.</p>
                </div>
                <img src="api/graph/top-countries-by-new-deaths?topCountriesCount=10&daysInPast=5" class="graph" alt="top countries by new deaths recently" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="top-countries-by-new-infections">Top Countries by new Infections recently</a></h1>
                    <p>This graph displays the average new infections per population for the last 5 days.</p>
                </div>
                <img src="api/graph/top-countries-by-new-infections?topCountriesCount=10&daysInPast=5" class="graph" alt="top countries by new infections recently" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="top-countries-by-infections-per-population">Top Countries by Infections per Population</a></h1>
                </div>
                <img src="api/graph/top-countries-by-infections-per-population?topCountriesCount=30" class="graph" alt="top countries by infections per population" />
            </div>
            <div class="graph">
                <div class="contentHeading">
                    <h1><a id="top-countries-by-deaths-per-population">Top Countries by Deaths per Population</a></h1>
                </div>
                <img src="api/graph/top-countries-by-deaths-per-population?topCountriesCount=30" class="graph" alt="top countries by deaths per population" />
            </div>
        </div>
        <div class="impressum">
            <div class="contentHeading">
                <h1>Impressum</h1>
            </div>
            <p>
                This page has been proudly made without any JS by Benedikt Schmidt (benediktibk@gmail.com). The data is based upon:
            </p>
            <ul>
                <li><a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6">COVID-19 cases dashboard by John Hopkins University</a>.</li>
                <li><a href="https://ec.europa.eu/eurostat/statistics-explained/index.php/Main_Page">eurostat</a></li>
                <li><a href="https://www.euromomo.eu/index.html">EURO MOMO</a></li>
                <li><a href="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population">Wikipedia</a></li>
            </ul>
            <p>The source code for this page can be found at <a href="https://bitbucket.org/benediktibk/corona">bitbucket</a>.</p>
            <p>If you do like what you see here: Great. If you do not: I do not take any legal responsibility for what you make with the information presented.</p>
            <p>Stay healthy!</p>
        </div>
    </div>
</body>
</html>
